<%= title("Home") %>

<div class="row-fluid">
	<div class="span12">
		<label> Description is placed here </label>
		<% if user_signed_in? %>
			<div> <%= link_to "Go to Projects", projects_path, class:"btn btn-primary btn-large" %> </div>
		<% end %>
	</div>
</div>
